<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saybiu.bbs.dao.mapper.PostMapper">

    <resultMap id="BaseResultMap" type="com.saybiu.bbs.entity.Post">
            <id property="postId" column="post_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="VARCHAR"/>
            <result property="postMuted" column="post_muted" jdbcType="BOOLEAN"/>
    </resultMap>
    <resultMap id="ResultMap" type="com.saybiu.bbs.entity.Post">
        <id property="postId" column="post_id" jdbcType="INTEGER"/>
        <result property="userId" column="uid" jdbcType="INTEGER"/>
        <result property="createTime" column="ctime" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="VARCHAR"/>
        <result property="postMuted" column="post_muted" jdbcType="BOOLEAN"/>
        <association property="postmeta" resultMap="com.saybiu.bbs.dao.mapper.PostmetaMapper.BaseResultMap"/>
    </resultMap>

    <sql id="Base_Column_List">
        post_id,user_id,create_time,
        update_time,post_muted
    </sql>
</mapper>
