<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saybiu.bbs.dao.mapper.SupportMapper">

    <resultMap id="BaseResultMap" type="com.saybiu.bbs.entity.Support">
            <id property="supportId" column="support_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="supportedUserId" column="supported_user_id" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="ResultMap" type="com.saybiu.bbs.entity.Support">
        <id property="supportId" column="support_id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="supportedUserId" column="supported_user_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="VARCHAR"/>
        <association property="usermeta" resultMap="com.saybiu.bbs.dao.mapper.UsermetaMapper.BaseResultMap2"/>
    </resultMap>

    <sql id="Base_Column_List">
        support_id,user_id,supported_user_id,
        create_time
    </sql>
    <!--查询关注的人信息-->
    <select id="querySupports" resultMap="ResultMap">
        select bbs_supports.support_id,
               bbs_supports.user_id,
               bbs_supports.supported_user_id,
               bbs_supports.create_time,
               bbs_usermeta.userMeta_id,
               bbs_usermeta.user_nickname,
               bbs_usermeta.user_sex,
               bbs_usermeta.user_profile_picture,
               bbs_usermeta.user_supported_num,
               bbs_usermeta.user_support_post_num,
               bbs_usermeta.user_post_num,
               bbs_usermeta.user_support_num,
               bbs_usermeta.user_like_num,
               bbs_usermeta.user_introduce,
               bbs_usermeta.user_id as uid
        from bbs_supports
                 join bbs_usermeta on bbs_usermeta.user_id = bbs_supports.supported_user_id
        where bbs_supports.user_id = #{userId}
        limit #{start},#{pageSize}
    </select>
    <!--查询粉丝信息-->
    <select id="queryFans" resultMap="ResultMap">
        select bbs_supports.support_id,
               bbs_supports.user_id,
               bbs_supports.supported_user_id,
               bbs_supports.create_time,
               bbs_usermeta.userMeta_id,
               bbs_usermeta.user_nickname,
               bbs_usermeta.user_sex,
               bbs_usermeta.user_profile_picture,
               bbs_usermeta.user_supported_num,
               bbs_usermeta.user_support_post_num,
               bbs_usermeta.user_post_num,
               bbs_usermeta.user_support_num,
               bbs_usermeta.user_like_num,
               bbs_usermeta.user_introduce,
               bbs_usermeta.user_id as uid
        from bbs_supports
                 join bbs_usermeta on bbs_usermeta.user_id = bbs_supports.user_id
        where bbs_supports.supported_user_id = #{userId}
        limit #{start},#{pageSize}
    </select>
</mapper>
